<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }
      span {
        margin: 10px 0;
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="container">
  <span>Hello, {{name}}</span>

  <br/>

  <span>You requested password change.</span>
  <span>To make the exchange, click on the link 
    <a href={{link}}>{{link}}</a>
  </span>

  <span>If you didn't request a password change, just ignore this email.</span>

  <strong>Thanks!</strong>

  <h3>Team | <strong>Jobsity</strong></h3>
</div>
  </body>
</html>